<!--new layout view for join queue-->
<div>
  <h1 class="form-title">Let Garrett Help You</h1>

  <div class="content">
    <!-- angular form that has a required name field and a required comment field  -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-queue">
      <mat-form-field>
        <input 
        id="name" 
        formControlName="name"
        type="text"
        maxlength="120"
        matInput 
        placeholder="your name" 
        required />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input 
        id="phone"
        formControlName="phone"
        type="numbers"
        maxlength="120"
        matInput 
        placeholder="your phone number" 
        required />
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <textarea 
        id="comment"
        matInput 
        placeholder="your error/issuse" 
        required>
        </textarea>
        <mat-icon matSuffix>save</mat-icon>
      </mat-form-field>
      <br />
      <button (click)="onSubmit()" mat-raised-button color="accent">Join! <i class="material-icons">send</i></button>
    </form>
  </div>
</div>




<!--<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="'primary'">
      <mat-label for="name">Name</mat-label>
      <input
        id="name"
        matInput
        formControlName="name"
        type="text"
        maxlength="120"
      />
    </mat-form-field>
    <mat-form-field [color]="'primary'">
      <mat-label for="phone">Phone Number</mat-label>
      <input
        id="phone"
        matInput
        formControlName="phone"
        type="numbers"
        maxlength="120"
      />
    </mat-form-field>
    <mat-form-field [color]="'primary'">
      <mat-label for="comment">Comments</mat-label>
      <input
        id="comment"
        matInput
        formControlName="comment"
        type="text"
        maxlength="120"
      />
    </mat-form-field>
    </form>
</div>

<div>
  <button (click)="onSubmit()" mat-raised-button color="accent">Join!</button>
</div>-->
res from server -> {{text}}
